<footer style="background-color: #7CB5AA; color: #004d4d;">
			<div class="container center pv4 ph3 ph5-m ph6-l mid-gray avenir">
				<ul class="footer-columns list pl0 cf ph0-ns">
          <li class="about list pl0 fl w-100 w-40-l pa2">
        <h4>About the Website</h4>
        <ul class="list pl0 lh-copy measure-narrow">This website contains examples of projects I have done during my time in university. </ul>
      </li>

  <h4>Contact</h4>
  <ul class="list pl0 lh-copy">
  <li>nicolemrandazzo@utexas.edu</li>
  <br>
  <div class="social-icons">
    <a class="linkedin dim" 
   		href="https://www.linkedin.com/in/nicole-m-randazzo-69749628b" 
   		target="_blank" 
   		rel="noopener">
   		{% include social-icon.html icon="LinkedIn" %}
	</a>
  </div>
  </ul>
</li>
</ul>
</div>
</footer>
